<!DOCTYPE html>
<html>

<head>
    <title>
        แก้ไขสินค้า
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/addProduct.css' />
</head>

<body>
    <div class="header">
        <h1>แก้ไขสินค้า</h1>
    </div>
    <%- include layout %>
        <div id="main">
            <div class="container">
                <%- messages() %>
                    <form class="" action="/manages/update" method="POST">
                        <input type="hidden" value="<%= product._id %>" name="update_id">
                        <div class="form-group">
                            <label for="">ชื่อสินค้า</label>
                            <div class="" id="error-msg">
                                <% if(locals.errors) { Object.values(errors).forEach(function(error) {
                                    if(error.param=='name' ){ %>
                                    <li id="li" class="alert alert-danger float-right">
                                        <%= error.msg %>
                                    </li>
                                <% } } )}%>
                            </div>
                            <input type="text" name="name" value="<%= product.name %>" class="form-control" id="input">
                        </div>
    
                        <div class="form-group">
                            <label for="">ราคาขาย</label>
                            <div class="" id="error-msg">
                                <% if(locals.errors) { Object.values(errors).forEach(function(error) {
                                    if(error.param=='price' ){ %>
                                    <li id="li" class="alert alert-danger float-right">
                                        <%= error.msg %>
                                    </li>
                                <% } } )}%>
                            </div>
                            <input type="text" name="price" value="<%= product.price %>" class="form-control" id="input">
                        </div>
    
                        <div class="form-group">
                            <label for="">จำนวน</label>
                            <div class=""id="error-msg">
                                <% if(locals.errors) { Object.values(errors).forEach(function(error) {
                                    if(error.param=='number' ){ %>
                                    <li id="li" class="alert alert-danger float-right">
                                        <%= error.msg %>
                                    </li>
                                <% } } )}%>
                            </div>
                            <input type="text" name="number" value="<%= product.number %>" class="form-control" id="input">
                        </div>
    
                        <div class="form-group">
                            <label for="">จำนวนที่อันตราย</label>
                            <div class="" id="error-msg">
                                <% if(locals.errors) { Object.values(errors).forEach(function(error) {
                                    if(error.param=='dangerNumber' ){ %>
                                    <li id="li" class="alert alert-danger float-right">
                                        <%= error.msg %>
                                    </li>
                                <% } } )}%>
                            </div>
                            <input type="text" name="dangerNumber" value="<%= product.dangerNumber %>" class="form-control" id="input">
                        </div>
    
                        <div class="form-group">
                            <label for="">จำนวนที่ปลอดภัย</label>
                            <div class="" id="error-msg">
                                <% if(locals.errors) { Object.values(errors).forEach(function(error) {
                                    if(error.param=='safeNumber' ){ %>
                                    <li id="li" class="alert alert-danger float-right">
                                        <%= error.msg %>
                                    </li>
                                <% } } )}%>
                            </div>
                            <input type="text" name="safeNumber" value="<%= product.safeNumber %>" class="form-control" id="input">  
                        </div>

                        <input type="submit" name="" value="อัปเดต" class="btn btn-primary">
                        <a href="/manages"><input type="button" name="" value="กลับ" class="btn btn-danger"></a>
                    </form>
            </div>
        </div>
        
</body>

</html>
